<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>
</head>
<body style="background-color: gray;">
    <h2>Autorizaciones</h2>
    <form action="/AppCoder/autorizaciones/" method="POST">{% csrf_token %}
        <p>Estudio a realizar: <input type="texto" name="estudio_a_realizar"> </p>
        <p>Nro de afiliado: <input type="number" name="numero_de_afiliado"> </p>
        <p>Fecha de orden: <input type="date" name="fecha_de_orden"> </p>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>