<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>
</head>
<body style="background-color: pink;">
    <form action="/AppCoder/empadronamiento/" method="POST">{% csrf_token %}
        <p>Nombre: <input type="texto" name="nombre"> </p>
        <p>Apellido: <input type="texto" name="apellido"> </p>
        <p>DNI: <input type="number" name="dni"> </p>
        <p>Plan: <input type="texto" name="plan"> </p>
        <p>email: <input type="texto" name="email"> </p>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>